<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVjKB3hk8vXFYA8Ew9MhTmohKFlTcmva4</string>
	<key>GCM_SENDER_ID</key>
	<string>330809476084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.credaagency.Thoughts</string>
	<key>PROJECT_ID</key>
	<string>thoughts-ios-30486</string>
	<key>STORAGE_BUCKET</key>
	<string>thoughts-ios-30486.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330809476084:ios:c3ba8393c01ae1fe7fefa1</string>
</dict>
</plist>